<!--  <#% if user_signed_in? %>-->
<!--    <#% if current_user.already_favorited?(recipe) %>-->
<!--      <#%= link_to recipe_favorites_path(recipe), remote: true, method: :delete, class: "favorite__link" do %>-->
<!--        <i class="fas fa-heart favorite__btn"></i>-->
<!--      <#% end %>-->
<!--      <span class="favorite__count"><#%= recipe.favorites.length %></span>-->
<!--    <#% else %>-->
<!--      <#%= link_to recipe_favorites_path(recipe), remote: true, method: :post, class: "favorite__link" do %>-->
<!--        <i class="far fa-heart favorite__btn"></i>-->
<!--      <#% end %>-->
<!--      <span class="favorite__count"><#%= recipe.favorites.length %></span>-->
<!--    <#% end %>-->
<!--  <#% end %>-->



<!--<section class="favorite">-->
<!--<#% if @recipe.favorited_by?(current_user) %>-->
<!--    <p>-->
<!--      <#%= link_to favorite_path(@recipe), method: :delete do %>-->
<!--        ♥<#%= @recipe.favorites.count %> いいね-->
<!--      <#% end %>-->
<!--    </p>-->
<!--    <#% else %>-->
<!--    <p>-->
<!--      <#%= link_to  favorites_path(@recipe), method: :post do %>-->
<!--        ♡<#%= @recipe.favorites.count %> いいね-->
<!--      <#% end %>-->
<!--    </p>-->
<!--  <#% end %></div>-->
<!--</section>-->

<!--bookmark on favorites--->
<!--<table>-->
<!--  <caption>ブックマーク一覧</caption>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>投稿者名</th>-->
<!--      <th>タイトル</th>-->
<!--      <th>本文</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <#% @bookmarks.each do |bookmark| %>-->
<!--      <tr>-->
<!--        <td><#%= bookmark.post.user.name %></td>-->
<!--        <td>-->
<!--          <#%= link_to post_path(bookmark.post) do %>-->
<!--            <#%= bookmark.post.title %>-->
<!--          <#% end %>-->
<!--        </td>-->
<!--        <td><#%= bookmark.post.body %></td>-->
<!--      </tr>-->
<!--    <#% end %>-->
<!--  </tbody>-->
<!--</table>-->