<div class = "container mt-5">
<% if @recipe.errors.any? %>
  <%= @recipe.errors.count %>件のエラーが発生しました
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<% @title = "レシピ投稿" %>
 <hr class="m-2" />
<div class= "text-center">
<h2>レシピ投稿</h2>
</div>
 <hr class="m-2" />
<%= render 'form', recipe: @recipes %>
