<div class = "containar mt-5">
<hr class="my-5" />

      <!--Section: Content-->
      
      <section class="text-center">
        <h4 class="mb-5"><strong>サイトの使用方法について</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ゲストユーザーの方は</h5>
                <p class="card-text">
                コメント閲覧や投稿するには新規登録が必要です。
                <br>＃レシピ投稿は可能です。
                </p>
                <%= link_to "新規登録する", new_user_registration_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Welcome to féerie</h5>
                <p class="card-text">
                  Make Life More Interesting .<br>
                  "人生をより面白く"
                  
                </p>
                <%= link_to "ホームに戻る",root_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">会員登録済みの方は</h5>
                <p class="card-text">
                    <br>
                  こちらからもログインができます。
                </p>
                <%= link_to "ログインする",new_user_session_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
