  <header>
    <style>
      #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }
       <% if user_signed_in? %>
           <% if current_user.guest? %>
              #intro {
                background-image: url("https://mdbootstrap.com/img/new/standard/nature/023.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                height: 75vh;
                
              }
                @media (min-width: 992px) {
              #intro {
                margin-top: -58.59px;
              }
            }
        <% end %>
     <% end %>
    </style>
  

     <!--Background image -->
  
    <div id="intro" class="bg-image shadow-2-strong">
      <!--<div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">-->
      <!--</div>-->
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white">
            <h1 class="mb-2"><h1>Welcome to féerie</h1>
             <h5 class="mb-4">Make yourlife enjoy more </h5>
              <% if user_signed_in? %>
                <% if current_user.guest? %>
                I am guest.
                <% end %>
                <% else %>
              <!--head新規登録-->
                <%= link_to new_user_registration_path do %>
                     <div class="btn btn-outline-light btn-lg m-2" tabindex="0" role="button" >
                       <i class="fas fa-user-plus"></i>新規登録
                     </div>
                <% end %>
              <!--end新規登録-->
              <!--headログイン--->
                <%= link_to  new_user_session_path do %>
                     <div class="btn btn-outline-light btn-lg m-2" tabindex="0" role="button">
                        <i class="fas fa-sign-in-alt"></i>ログイン
                     </div>
                <% end %>
              <% end %>
              <!--endログイン-->
          </div>
        </div>
    </div>
     <!--Background image -->
     
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>About us</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

   
     
  </main>
  <!--Main layout-->
  <!--Footer-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
 